@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none;
    scroll-behavior: smooth;
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #e7e5e4;
}

::-webkit-scrollbar-thumb {
    background-color: #f43f5e;
    border-radius: 4px;
}

details summary::-webkit-details-marker {
    display: none;
}
